<h2>More information about {{model.heading}}</h2>

{{article-detail article=model destroyArticle="destroyArticle"}}

{{#link-to 'index'}}Home |{{/link-to}}
{{#link-to 'about'}}About |{{/link-to}}
{{#link-to 'contact'}}Contact us{{/link-to}}
